section {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem 3rem;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

table {
  margin-bottom: 2rem;
}

select {
  width: auto;
  margin-top: 0;
}

td input[type="email"] {
  display: inline-block;
  width: auto;
  margin: 0 0.5rem 0 0;
}
